{% load static %}
{% extends 'layoutbase.html' %} 


{% block content  %}

    <div class="container">
        <h1>Tela do distribuidor</h1>
        <a class="btn btn-primary" href="{% url 'distribuidor:distribuidor_create' %}" role="button">Cadastrar Fornecedor</a>
        <a class="btn btn-primary" href="{% url 'distribuidor:estoque_create' %}" role="button">criar estoque</a>
        <a class="btn btn-primary" href="{% url 'distribuidor:listagem_compradores_list' %}" role="button">listar compradores</a>
        <a class="btn btn-primary" href="{% url 'distribuidor:distribuidor_detail' %}" role="button">Distribuidor Estoque</a>
        

    </div>
{% endblock  %}