{% load static %}
{% extends 'layoutbase.html' %} 

{% block actions %}
{% endblock %}

{% block title %}
	Cadastro do estoque
{% endblock %}

{% block content %}
<div class="container">
        <h1>Tela cadastro do estoque</h1>
        
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input  class="btn btn-primary" type="submit" value="cadastrar">
            {% comment %} <a class="btn btn-primary" type="submit" href="{% url 'comprador:list' %}" role="button"></a> {% endcomment %}
        </form>
        
    </div>
{% endblock %}