{% load static %}
{% extends 'core/layoutbase.html' %} 

{% block actions %}
{% endblock %}

{% block title %}
	Listagem de Pedidos Cliente
{% endblock %}


{% block content %}

<table class="table">
    
  <thead>
    <tr>
        <td>Pedido</td>
        <td>Quantidade</td>
        <td>Distribuidor</td>
        <td>Entregue</td>
        <td>Data da entrega</td>
        <td>Pedido foi entregue</td>
    </tr>
  </thead>
  {% for i in object_list %}
  <tbody>
    <tr>
        <td>{{ i.qual_seu_pedido }}</td>
        <td>{{ i.qual_quantidade_de_unidade }}</td>
        <td>{{ i.distribuidor }}</td>
        <td> {% if not i.entregue %}
                Não entregue
            {% else %}
                Entregue
            {% endif %}

        <td>{{ i.data_entrega|default_if_none:"Não entregue" }}</td>
        
        <td><a class="btn btn-primary" href="{{ i.get_absolutettt_url }}" role="button">Pedido Chegou</a></td>
        
    </tr>

  </tbody>
      {% endfor %}
</table>

{% endblock %}





