{% load static %}
{% extends 'core/layoutbase.html' %} 


{% block content  %}

    <div class="container">
        <h1>Tela do comprador</h1>
        <a class="btn btn-primary" href="{% url 'comprador:p' %}" role="button">Quero fazer um pedido</a>
        <a class="btn btn-primary" href="{% url 'comprador:create_comprador' %}" role="button">Cadastrar Comprador</a>
        <a class="btn btn-primary" href="{% url 'comprador:create_estoque' %}" role="button">criar estoque</a>
        

        <a class="btn btn-primary" href="{% url 'comprador:comprador_pedido_list' %}" role="button">Conferir pedido</a>
       
    </div>
{% endblock  %}