{% extends 'core/layoutbase.html' %} 

{% block actions %}
{% endblock %}

{% block title %}
	Listagem de Pedidos Cliente
{% endblock %}


{% block content %}

<table class="table">
    
  <thead>
    <tr>
        <td>nome_distribuidor</td>
        <td>qual_quantidade_de_unidade</td>
        <td>distribuidor</td>
        <td>entregue</td>
        <td>data_entrega</td>
    </tr>
  </thead>
  {% for i in object_list %}
  <tbody>
    <tr>
        <td>{{ i.distribuidor.nome_distribuidor }}</td>
        <td>{{ i.nome_produto }}</td>
        <td>{{ i.quantidade_em_estoque }}</td>
        <td><a class="btn btn-primary" type="submit" href="{% url 'comprador:list' %}" role="button"></a></td>
    </tr>

  </tbody>
      {% endfor %}
</table>

{% endblock %}
