{% extends 'core/layoutbase.html' %} 

{% block actions %}
{% endblock %}

{% block title %}
	Listagem de Pedidos Cliente
{% endblock %}


{% block content %}

<table class="table">
    
  <thead>
    <tr>
        <td>nome_distribuidor</td>
        <td>qual_quantidade_de_unidade</td>
        <td>distribuidor</td>
        <td>entregue</td>
        <td>data_entrega</td>
    </tr>
  </thead>
  {% for i in object_list %}
  <tbody>
    <tr>
        <td>{{ i.nome_distribuidor }}</td>

    </tr>

  </tbody>
      {% endfor %}
</table>

{% endblock %}
