{% extends 'core/layoutbase.html' %} 

{% block actions %}
{% endblock %}

{% block title %}
	Listagem de Pedidos Cliente
{% endblock %}


{% block content %}

<table class="table">
    
  <thead>
    <tr>
        <td>Nome do distribuidor</td>
        <td>Produto</td>
        <td>Quantidade em estoque</td>
        <td>data_entrega</td>
        <td>finalizar pedido</td>
    </tr>
  </thead>
  {% for i in object_list %}
  <tbody>
    <tr>
        <td>{{ i.distribuidor.nome_distribuidor }}</td>
        <td>{{ i.nome_produto }}</td>
        <td>{{ i.quantidade_em_estoque }}</td>
        <td>{{ i.data_entrega }}</td>
        <td><a class="btn btn-primary" type="submit" href="{{ i.get_absolute_url2 }}" role="button"></a></td>
    </tr>

  </tbody>
      {% endfor %}
</table>

{% endblock %}
